service nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.st
    override
    disabled
    class early_hal
    user nfc
    group nfc

on early-init && property:ro.boot.hwc=CN
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_${ro.boot.product.hardware.sku}.txt
    setprop ro.boot.product.vendor.sku nfc

on early-init && property:ro.boot.hwc=GL
    setprop persist.vendor.nfc.config_file_name /vendor/etc/st21nfc_conf_${ro.boot.product.hardware.sku}_gl.txt
    setprop ro.boot.product.vendor.sku nfc

on early-init && property:ro.boot.hwc=IN
    setprop ro.boot.product.vendor.sku nonfc

on boot && property:ro.boot.product.vendor.sku=nfc
    enable nfc_hal_service
